body {
   margin: 0px;
   background-color: rgb(63, 63, 63);
   font-size: 100%;
}

header {
   background-color: red;
   color: white;
   font-size: 20px;
   text-align: left;
   padding: 15px;  
} 
hr {
	border: 0;   
    background-color:red;
    height: 2px;
    width:90%;
}
/* COVER IMAGE */
.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 80px;
} 

.centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.bg {
    height: 300px;
    background-image: url(https://ssl.gstatic.com/atari/images/vision-header.jpg);
    background-size: cover;
}

.bg__opaque-layer {
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
/* FLEX BOX 1 */
div.t {
   border-top-style: solid;
   border-color: rgb(63, 63, 63);
}
div.b {
   border-bottom-style: solid;
   border-color: rgb(63, 63, 63);
}
div.t:hover {
   border-color: red;
   color: white;
}
div.b:hover {
   border-color: red;
   color: white;
}
.flex-container {
  display: flex;
  height: 200px;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  color: red;
}
.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}
