body {
   margin: 0px;
}

header {
   background-color: red;
   color: white;
   font-size: 20px;
   text-align: left;
   padding: 10px;  
} 
container { 
   position: relative;
   color: white;
}
 centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
   
