body {
   margin: 0px;
}

header {
   background-color: red;
   color: white;
   font-size: 20px;
   text-align: left;
   padding: 10px;  
} 
container { 
   position: relative;
   color: white;
}

h1 {
   font-family: "Courier New";
   color: black;
}
   
