html, body {
	margin: 0;
	height: 100%;
}
/* nav */
.header {
	height: 150px;
	background-color: rgb(0,0,0);
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 5px solid rgb(250,162,0);
}
/* nav buttons */
.header a {
	padding: 20px 60px;
	text-decoration: none;
	border-radius: 30px;
	font-size: 22px;
	letter-spacing: 2px;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	box-shadow: 0 6px rgb(250,162,0);
	transform: scale(1);
	transition: transform 300ms linear;
}
.header a{
	box-shadow: 0 -6px 0  rgb(250,162,0);
}
.header a:hover {
	transform: scale(1.1);
	transition: 300ms linear;
}
.header a:active {
	box-shadow: none;
	transform: translateY(6px);
	transition: transform, 30ms;

}
header a:after {
 	display: block;
 	content: '';
	border: 1px solid rgb(250,162,0);
	transform: scaleX(0);
	transition: transform 300ms ease-in-out;
}
header a:hover:after{
	transform: scaleX(1);
} 
.header a.btn1 {
	text-decoration: underline;
 	text-underline-position: under;
 	text-decoration-color: rgb(250,162,0);
}
/* MAIN CONTENT HOME */
main {
	background-color: chocolate;
}
